.page {
  background-color: #2A2C2F;
  width: 1280px;
  margin-left:auto;
  margin-right:auto;
 
 
 
  font-family: 'Inter';
 
}

@media screen and (max-width:1024px)
{

.logo_place_header {
 
   

    margin-top:34px;
    margin-left:48px;
    width: 190px;
    height: 44px;
    background-color: red;
   
  }
  
 
}

@media screen and (max-width:768px)
{ 
  
  background-color: blue
   

}