.page {
  background-color: #2A2C2F;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  font-family: 'Inter';
 
}

@media screen and (max-width:1280px)
{ 
  .page {
  width:1280px;
  background-color:yellow;
  }
}
@media screen and (max-width:1024px)
{ 
  .page {
  width:1024px;
  background-color:blue;
  }
}

@media screen and (max-width:768px)
{ 
  .page {
  width:768px;
  background-color:pink;
  }
}

@media screen and (max-width:320px)
{ 
  .page {
  width:320px;
  background-color:black;
  }
}