.place__article{

    display:grid;
    position: relative;
    background-color: blueviolet;
 grid-template-columns: 148px 460px 40px 1fr ;
 grid-template-rows: auto;
 row-gap: 0px;
 column-gap:0px;
 grid-template-areas:
  ". place-maine__title . place-maine__website_url-heading   "
  ". . . place-maine__website_link "
  ". place-maine__image . place-maine__paragraph_1"
  ". place-maine__image . place-maine__paragraph_2"
  ". place-maine__image . place-maine__paragraph_3";
}