.intro__list{
    list-style: none;
    width: 690px;
height: 72px;
margin-left:148px;
margin-right:442px;
margin-top:33px;
padding-left:0px;
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 18px;
}
/*1280*/

@media screen and (max-width:1024px)
{
     .intro__list{
    margin-left:48px;
    margin-right:286px;
}
}

@media screen and (max-width:768px)
{ 

    .intro__list{
        margin-left:24px;
        margin-right:24px;
        width: 720px;
        height: 72px;
}
}
@media screen and (max-width:320px)
{ 
    .intro__list{
        margin-left:16px;
        margin-right:16px;
        width: 288px;
        height: 72px;

    }

}