.cover__image-link{
  display:flex;
  position: relative;
margin:0;
padding:0;
box-sizing: border-box;
  text-decoration: none;
   flex-direction: column;
     z-index:1;
 
     background-image: url("../../../images/cover__background.png");
     background-size: cover;
     background-repeat: no-repeat;
     min-height: 740px;
    
    
     align-items: center;
     justify-content: center;
     object-fit: cover;
    
}

.cover__image-link::before{
  
  content: "";
  position:absolute;
  top:0;
  left:0;
  opacity: 0.3;
  transition: 0.5s ease-in;
  z-index:-1;
  background: #2A2C2F ;
  height: 100%;
  width:100%;
 
}
.cover__image-link:hover::before{
  opacity: 0.8;
}

@media screen and (min-width:1024px) and (max-width:1279px){
  .cover__image-link{
    min-width: 1024px;
min-height: 640px;
      margin-right:0px;
      margin-left:0px;
      margin-top:92px;
 }
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .cover__image-link{
     min-width: 768px;
 min-height: 480px;
      margin-right:0px;
      margin-left:0px;
      margin-top:89px;
 }
}
@media screen and (min-width:320px) and (max-width:767px) {
  .cover__image-link{
     min-width: 320px;
   min-height: 200px;
      margin-right:0px;
      margin-left:0px;
      margin-top:64px;

 }
}
@media screen and (max-width:320px) {
  .cover__image-link{
     min-width: 320px;
   min-height: 200px;
      margin-right:0px;
      margin-left:0px;
      margin-top:64px;

 }
}
