.header {
 /*    margin:0 auto;*/
     padding:0;
  background-color: pink;
     position: relative;
     display:flex;
     justify-content: space-between;
     flex-direction: row;
     align-items: center;
     flex-shrink: 0;
    /* parameters for the header section */
}
 