.footer__link{
    color:white;
    height:18px;
    margin-right:18px;
    padding-left:0px;
    margin-left:0px;
    padding-right:0px;
    text-decoration: none;

}

.footer__link:hover{
    color:red;
}