.footer__copyright{
    
   
    height: 16px;  
    margin-right:48px;
    padding-right:0px;
    padding-left:0px;
    width: 165px;
    margin-left:calc(808px - 18px);
    margin-bottom:24px;
    margin-top:0px;
    color:white;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
