.header__link-container{

 display:flex;
    padding-left:calc(720px);
   /* margin-top: 46px;*/
   padding-top:0px;
   margin-top:46px;
  margin-bottom:0px;
    width: calc(29px+29px);
    height: 28px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    list-style: none;

}