
@import url("./__title/cover__title.css");
@import url("./__subtitle/cover__subtitle.css");
@import url("./__image/cover__image.css");
@import url("./__image-link/cover__image-link.css");

.cover{
     display:flex;
     justify-content: center;
     align-content: center;
     background-color: red;
     margin:92px auto 0;
     padding:0;
     font-family: 'Inter';
}
