.cover__image{
     background-size: contain;
     background-repeat: no-repeat;
    width: 1184px;
   height: 740px;
     margin-right:48px;
     margin-left:48px;
     margin-top:92px;
     color:white;
}
/*1280*/
