.cover__image{
     background-size: contain;
     background-repeat: no-repeat;
     width: 1184px;
   height: 740px;
     margin-right:48px;
     margin-left:48px;
     margin-top:92px;
     color:white;
}
/*1280*/
 @media screen and (max-width:1024px) {
     .cover__image{
         width: 1024px;
 height: 640px;
         margin-right:0px;
         margin-left:0px;
    }
}
 @media screen and (max-width:768px) {
     .cover__image{
         width: 768px;
     height: 480px;
         margin-right:0px;
         margin-left:0px;
         margin-top:89px;
    }
}
 @media screen and (max-width:320px) {
     .cover__image{
         width: 320px;
      height: 200px;
         margin-right:0px;
         margin-left:0px;
         margin-top:64px;
    }
}
