.cover__title{
    width: 656px;
    height: 76px;  

    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
margin-bottom:0px;
padding-bottom:0px;
padding-top:283px;
margin-top:0px;
margin-left:264px;
margin-right:264px;



text-align: center;
}

 