.intro__title{
     width: 690px;
     height: 116px;
     margin-left:148px;
     margin-right:442px;
     margin-top:92px;
     font-family: Inter;
     font-style: normal;
     font-weight: 900;
     font-size: 54px;
     line-height: 58px;
}
 @media screen and (max-width:1024px) {
     .intro__title{
         margin-left:48px;
         margin-right:286px;
         width: 690px;
         height: 116px;
    }
}
 @media screen and (max-width:768px) {
     .intro__title{
         margin-left:24px;
         margin-top:88px;
         width: 720px;
         height: 116px;
    }
}
 @media screen and (max-width:320px) {
     .intro__title {
         margin-left:16px;
         margin-top:64px;
         width: 288px;
         height: 105px;
         font-size: 32px;
         line-height: 35px;
    }
}
